<section class="settings">
  <h2 class="settings__title">Настройки</h2>
  <form class="settings__form">
    @for (item of settingsConf; track item.label) {
      <div class="settings__field">
        <label class="settings__label" [attr.for]="item.inputs[0].labelFor">{{ item.label }}</label>
        @for (input of item.inputs; track input.id) {
          <input class="settings__input"
                 type="number"
                 [id]="input.id"
                 [(ngModel)]="signalsMap[input.modelKey]"
                 (ngModelChange)="updateSetting(input.modelKey, $event)"
                 [name]="input.name">
        }
      </div>
    }
  </form>
</section>
