@use '../_shared.scss';

.settings {
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;

  @media (max-width: 768px) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  &__title {
    margin-bottom: 25px;
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
    position: relative;
    padding-bottom: 10px;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 200px;
      height: 1px;
      background-color: #c2e7edbd;
      border-radius: 10px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 22px;

    @media (max-width: 1024px) {
      min-width: 300px;
      margin: 0 auto;
    }

    @media (max-width: 768px) {
      min-width: 300px;
      margin: 0 auto;
    }
  }

  &__field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    gap: 5px
  }

  &__label {
    font-weight: 600;
    font-size: 1rem;
    flex-grow: 1;
    text-align: start;
  }

  &__input {
    width: 50px;
    padding: 12px;
    border: 2px solid rgba(184, 191, 198, 0.51);
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.42);
    font-size: 1.1rem;
    font-weight: 600;
    color: #2d3748;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.05),
    0 2px 6px rgba(0, 0, 0, 0.03);

    &:focus {
      outline: none;
      border-color: #ffffff;
      background: rgba(0, 255, 17, 0.38);
      color: #fff;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &[type=number] {
      -moz-appearance: textfield;
    }
  }
}

